<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
   <div class="text-center">
     <h1> Welcome </h1>
    <form method="POST" action="/home/search" style="margin-top: 15px;margin-left: 10px;">
      <div class="input-group">
          <input type="search" name="search" value=""></input>
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" style="text-align: left;">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
      </div>
    </form>
  </div>



        <!-- <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">Action</div>
          <div class="col-sm-4">Comedy</div>
          <div class="col-sm-4">Horror</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Romance</div>
            <div class="col-sm-4">Drama</div>
            <div class="col-sm-4">Sci-Fi</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Animation</div>
            <div class="col-sm-4">Drama</div>
            <div class="col-sm-4">Documentary</div>
        </div>
      </div> -->
      
    








 
    <%- include footer %>