<link rel="stylesheet" type="text/css" href="/styles.css"/>
<html lang="en">
    

   <%- include header %>
  <br>
  <br>
  <br>
   <div class="text-center">
     <h1 id="welcome"> Welcome </h1>
  
  
  
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <form method="POST" action="/home/search">
                <input type="search" name="search" value=""></input>
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
          </form>
      </div>
    </div>
  </div>
</div>




        <!-- <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">Action</div>
          <div class="col-sm-4">Comedy</div>
          <div class="col-sm-4">Horror</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Romance</div>
            <div class="col-sm-4">Drama</div>
            <div class="col-sm-4">Sci-Fi</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Animation</div>
            <div class="col-sm-4">Drama</div>
            <div class="col-sm-4">Documentary</div>
        </div>
      </div> -->
      
    








 
    <%- include footer %>